language: php

cache:
  directories:
  - $HOME/.composer/cache
  - vendor

php:
  - 7.2

before_install:
  - phpenv config-rm xdebug.ini
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - composer self-update

install:
  - travis_retry composer install --no-interaction
  - composer info -i

script:
  - php vendor/bin/php-cs-fixer fix -v --dry-run --show-progress=estimating
  - php vendor/bin/phpunit

