services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    _instanceof:
        EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\FieldEncoderInterface:
            tags: [ 'ezplatform.automated_translation.field_encoder' ]

        EzSystems\EzPlatformAutomatedTranslation\Encoder\BlockAttribute\BlockAttributeEncoderInterface:
            tags: [ 'ezplatform.automated_translation.block_attribute_encoder' ]

    # field encoder
    EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\TextLineFieldEncoder: ~
    EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\TextBlockFieldEncoder: ~

    EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\PageBuilderFieldEncoder:
        arguments:
            $blockAttributeEncoderManager: '@EzSystems\EzPlatformAutomatedTranslation\Encoder\BlockAttribute\BlockAttributeEncoderManager'
            $blockDefinitionFactory: '@EzSystems\EzPlatformPageFieldType\FieldType\Page\Block\Definition\BlockDefinitionFactory'

    EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\RichTextFieldEncoder:
        arguments:
            $richTextEncoder: '@EzSystems\EzPlatformAutomatedTranslation\Encoder\RichText\RichTextEncoder'

    # field encoder manager
    EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\FieldEncoderManager:
        arguments:
            $fieldEncoders: #!tagged_iterator 'ezplatform.automated_translation.field_encoder'
                - '@EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\TextLineFieldEncoder'
                - '@EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\TextBlockFieldEncoder'
                - '@EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\PageBuilderFieldEncoder'
                - '@EzSystems\EzPlatformAutomatedTranslation\Encoder\Field\RichTextFieldEncoder'

    # block attribute
    EzSystems\EzPlatformAutomatedTranslation\Encoder\BlockAttribute\TextBlockAttributeEncoder: ~

    EzSystems\EzPlatformAutomatedTranslation\Encoder\BlockAttribute\RichTextBlockAttributeEncoder:
        arguments:
            $richTextEncoder: '@EzSystems\EzPlatformAutomatedTranslation\Encoder\RichText\RichTextEncoder'

    # block attribute encoder manager
    EzSystems\EzPlatformAutomatedTranslation\Encoder\BlockAttribute\BlockAttributeEncoderManager:
        arguments:
            $blockAttributeEncoders: #!tagged_iterator 'ezplatform.automated_translation.block_attribute_encoder'
                - '@EzSystems\EzPlatformAutomatedTranslation\Encoder\BlockAttribute\TextBlockAttributeEncoder'
                - '@EzSystems\EzPlatformAutomatedTranslation\Encoder\BlockAttribute\RichTextBlockAttributeEncoder'

    # RichText encoder
    EzSystems\EzPlatformAutomatedTranslation\Encoder\RichText\RichTextEncoder:
        arguments:
            $configResolver: '@ezpublish.config.resolver'

    EzSystems\EzPlatformAutomatedTranslation\Encoder: ~

    EzSystems\EzPlatformAutomatedTranslation\Translator: ~

    EzSystems\EzPlatformAutomatedTranslation\TranslatorGuard: ~

    EzSystems\EzPlatformAutomatedTranslation\Client\:
        resource: '../../../lib/Client'
        tags: ['ezplatform.automated_translation.client']

    EzSystems\EzPlatformAutomatedTranslation\ClientProvider:
        arguments: [!tagged ezplatform.automated_translation.client]

    EzSystems\EzPlatformAutomatedTranslationBundle\Command\:
        resource: '../../Command/*'
        tags: ['console.command']

    EzSystems\EzPlatformAutomatedTranslationBundle\Form\Extension\TranslationAddType:
        tags:
            - { name: form.type_extension, extended_type: EzSystems\EzPlatformAdminUi\Form\Type\Content\Translation\TranslationAddType }

    EzSystems\EzPlatformAutomatedTranslationBundle\Form\Extension\ContentEditType:
        tags:
#            - { name: form.type_extension, extended_type: EzSystems\EzPlatformContentForms\Form\Type\Content\ContentEditType }
            - { name: form.type_extension, extended_type: EzSystems\RepositoryForms\Form\Type\Content\ContentEditType }

    EzSystems\EzPlatformAutomatedTranslationBundle\Form\Extension\LanguageCreateType:
        bind:
            $localeList: '%ezpublish.locale.conversion_map%'
        tags:
            - { name: form.type_extension, extended_type: EzSystems\EzPlatformAdminUi\Form\Type\Language\LanguageCreateType }

    EzSystems\EzPlatformAutomatedTranslationBundle\EventListener\ContentProxyTranslateListener: ~

